.accueil-page main {
  font-family: 'Poppins', sans-serif;
  flex: 1 0 auto;
  gap: 10px;
}

.presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "left right"
    "buttons right";
  column-gap: clamp(2rem, 6vw, 4rem);
  row-gap: clamp(1.5rem, 2vw, 3rem);
  margin-bottom: 10px;
  height: auto;
}

@media (max-width: 1170px) {
  .presentation {
      margin-bottom: 10px;
   }
}

@media (max-width: 950px) {

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-bottom: 5vw;
  }
}

@media (max-width: 615px) {

  .presentation {
    margin-bottom: 7vw;
  }
}
