.accueil-page main {
  font-family: 'Poppins', sans-serif;
  flex: 1 0 auto;
  gap: 10px;
}

.presentation {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "left right"
    "bottom bottom";
  column-gap: clamp(2rem, 6vw, 4rem);
  margin-top: 2.5rem;
  margin-bottom: 10px;
  align-items: start;
}

.bottom-section {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


@media (max-width: 1170px) {
  .presentation {
      margin-bottom: 10px;
   }
}

@media (max-width: 950px) {

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin-top: 0.5rem;
    margin-bottom: 5vw;
  }
}

@media (max-width: 615px) {

  .presentation {
    margin-bottom: 7vw;
  }
}

