.leftZone {
  grid-area: left;
  padding-top: 80px;
}

.animationWrapper {
  width: 110%;
  position: relative;
  overflow: hidden;
}

.animationWrapper canvas {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  object-position: top center;
  display: block;
  pointer-events: none;
}

.logo-mask {
  width: 16%;
  height: 16%;
  position: absolute;
  top: 1%;
  background-color: black;
  pointer-events: none;
}

.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  gap: 130px;
  padding-left: 40px;
  align-self: flex-start;
}

.buttons .btn {
  padding: 0.3rem 0.7rem;
  border-radius: 9px; 
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: rgb(243, 162, 124);
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.buttons .cv-btn {
  padding: 0.5rem 1.2rem;
}

.buttons .cv-btn:hover {
  transform: translateY(3px) scale(0.98);
  background-color: rgb(243, 162, 124) !important;
  color: black;
}

.buttons .pj-btn {
  padding: 0.5rem 0.7rem;
}

.buttons .pj-btn:hover {
  transform: translateY(3px) scale(0.98);
  background-color: rgb(243, 162, 124) !important;
  color: black;
}

@media (max-width: 1161px) {
  .leftZone {
    padding-top: 110px;
  }
}

@media (max-width: 950px) {

  .leftZone {
    padding-top: 10vw;
    margin-bottom: 2vw;
  }

  .animationWrapper {
    width: 90%;
  }

  .buttons {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 490px) {
  .buttons .btn {
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
 }
}
