.rightZone {
  grid-area: right;
  overflow: hidden;
}

.photoPC {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.04) translateX(-13%);
}

@media (max-width: 950px) {
  .rightZone {
    display: none;
  }
}
