.liens {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: flex-end;
}

.liens a, 
.liens-legaux {
  text-align: right;
  font-size: 16px;
  color: black;
}

.liens-legaux,
.copyright {
  display: flex;
  gap: 6px;       
  align-items: center;
  justify-content: flex-end;
}

.liens-legaux a,
.separator {
  white-space: nowrap;
}

.copyright { 
  font-size: 15px; 
  margin-top: auto;
  color: black;
  white-space: nowrap;
 }


@media (max-width: 700px) {

  .liens a,
  .liens-legaux {
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
  }
  .separator {
    display: none;
  }
  .copyright { 
    font-size: 13px; 
  }
}

@media (max-width: 650px) {
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 470px) {

  .liens {
    gap: 15px;
  }

  .liens a,
  .liens-legaux,
  .copyright {
    font-size: 9px;
  }
}

@media (max-width: 370px) {

  .liens a, .liens-legaux {
    font-size: 8.5px;
  }

  .copyright {
    font-size: 8.5px;
  }
}

@media (max-width: 350px) {

  .liens a, .liens-legaux {
    font-size: 8px;
  }
  .copyright {
    font-size: 8px;
  }
}
