html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

  /* MAIN */
.page-cv {
  min-height: 100vh;
  display: flex !important;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;   
  align-items: stretch; 
  color: black;
  background-color: white;
}

.parcours {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  flex: 1 1 auto;                
  min-width: 0;      /* ← évite les bizareries en flex */
  margin-bottom: 2vw;
}

.zone-titre {
  margin-top: 6vw;
  margin-bottom: 6vw;
  width: 75%;
  background-color: #E1AAA9;
  text-align: center; 
  font-family: "Californian FB";
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.titre-nom {
  font-size: 4vw;
  font-weight: bold;
  display: inline-block;       
  border-bottom: 2px solid black; 
  padding-bottom: 0vw;          
  margin-bottom: 1vw;          
}

.metier {
  font-size: 6.5vh;
}

.zone-presentation {
  width: 100%; 
  text-align: justify;
  background-color:  #A6A6A6;
  font-family: "calibri";
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-inline: 3vw;
  margin-bottom: 9vh;
  font-size: 3vh;
}

.titre-parcours {
  width: 75%; 
  text-align: center;
  background-color: #E1AAA9;
  font-family: "Californian FB";
  margin-top: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-weight: bolder;
  padding-inline: 2px;
}

.detail-parcours{
  width: 75%;
  display: flex;
  text-align: start;
  font-family: "Calibri";
  margin-top: 7vh;
}

.diplome {
  font-size: 22px;
  font-weight: bold;
  list-style: none;  
  margin: 0;
  padding: 0;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 75%;
  font-family: "Calibri";
  margin-top: 7vh;
  padding-inline: 4vh;
}

.job {
  display: flex;
  flex-direction: column;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.job-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5vh; 
  flex-wrap: wrap;
  font-size: 23px;
  font-weight: bold;
}

.job-title em {
  font-style: italic;
}

.job-title em::before {
  content: "–";
  margin: 0 0.5ch;
}

.job-info {
  text-align: right;
  font-size: 2.7vh;
}

.job-info .italic {
  font-style: italic;
}

.date {
  margin-bottom: 0;
}

.ul-exp {
  padding-left: 1.3rem;
}

.ul-parcours {
  list-style-type: none;
  padding-left: 1.7rem;
}

.page-cv aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 25vw; 
  transition: flex-basis 0.4s ease, max-width 0.4s ease;
  width: 25vw;
  margin-left: 0;
  text-align: center;
  background: #A6A6A6;
  height: auto;
  align-items: center;
}

.div-photo {
  position: relative;
  width: 14vw;          
  aspect-ratio: 1 / 1;   
  margin-top: 7vh;
  margin-bottom: 6vh;
  margin-left: 1vh;
}

.photo-profil {
  width: 100%;
  height: 100%;
}

.titre-aside {
  background-color: #E1AAA9;
  border :solid 2px black;
  font-family: "californian FB";
  color: black;
  width: 80%;      
  margin-inline: auto; 
  margin-bottom: 3vh;
  margin-top: 3vh;
  padding: 1vh 0;
}

.renseignements-img {
  margin-bottom: 10px;
}

.renseignements {
  text-align: left;   
  width: 80%;         
  margin: 0 auto;     
  padding-inline: 2vh;
  font-family: "calibri";
  font-size: 3.3vh;
}

.renseignements ul {
  list-style: none;   
  margin: 0;
  padding: 0;         
}

.renseignements li {
  margin: 5px 0;      
}

.competence {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 12px;
}

.competence .nom {
  font-weight: bold;
}

.niveau {
  display: flex;
  gap: 6px; 
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333; 
  display: inline-block;
}

.dot.filled {
  background-color: #333; 
}

.aside-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-download,
.btn-lang {
  padding: 8px 16px;
  border: solid, black;
  border-radius: 6px;
  cursor: pointer;
  background-color: #E1AAA9;
  color: black;             
  font-weight: bold;
  text-decoration: none; 
  text-align: center;
}

/* ====== MEDIA QUERIES  ====== */

/* ≤ 1200 */
@media (max-width: 1260px) {

  .page-cv aside {
    flex: 0 0 29vw;
    max-width: 29vw;
  }
}

@media (max-width: 1180px) {

  .page-cv aside {
    flex: 0 0 31vw;
    max-width: 31vw;
  }

  .job-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .job-title em::before {
    content: ""; /* supprime le tiret */
    margin: 0;
  }

  .job-info {
    margin-top: 5px;
  }
}

@media (max-width: 1093px) {
  .zone-presentation {
    font-size: 16px;
  }
}

@media (max-width: 1015px) {

  .zone-presentation {
    font-size: 15px;
  }

  .page-cv aside {
    flex: 0 0 33vw;
    max-width: 33vw;
  }

  .titre-aside {
      margin-top: 2vh;
    }
}

@media (max-width: 955px) {

  .job-header {
    margin-bottom: 2vh;
  }

  .ul-exp {
    font-size: 14px;
  }

  .div-photo {
    width: 16vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }

  .renseignements {
    font-size: 2.9vh;
  }

  .aside-buttons {
    margin-top: 75px;
  }  
}

@media (max-width: 855px) {
  
  .zone-presentation {
    line-height: 1.3;
    padding: 3.5vh 2vw;
    transition: all 0.4s ease;
    height: auto;
    max-height: 60vh;
  }

  .experience {
    padding-inline: 2vh;
  }

  .job-title {
    font-size: 20px;
  }

  .ul-exp {
    font-size: 13px;
  }

  .diplome {
    font-size: 20px;
  }

  .date {
    font-size: 14px;
  }

  .place {
    font-size: 14px;
  }

  .page-cv aside {
    flex: 0 0 35vw;
    max-width: 35vw;
  }

  .renseignements-img img {
    max-width: 93%; 
    transition: all 0.3s ease;
  }

  .renseignements {
    font-size: 2.5vh;
  }

  .dot {
    width: clamp(6px, 1.4vw, 11px);
    height: clamp(6px, 1.4vw, 11px);
    transition: all 0.3s ease;
  }

  .div-photo {
    width: 17vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
  }

  .titre-aside {
    margin-top: 3vh;
  }
}

@media (max-width: 815px) {

  .metier {
    font-size: 5vh;
  }
}

@media (max-width: 780px) {
  .ul-exp {
    font-size: 12px;
  }
}

 @media (max-width: 745px) {

  .zone-presentation {
    font-size: 2.3vh; 
  }

  .div-photo {
    width: 17vw;
    margin-top: 3vh;
  }

  .titre-aside {
    padding: 0vh 0;
    margin-top: 3vh;
  } 
}

@media (max-width: 700px) {

  .zone-presentation {
    line-height: 1.3;
    padding: 3.5vh 2vw;
    transition: all 0.4s ease;
    height: auto;
    max-height: 60vh;
  }

   .job-title {
    font-size: 2.7vh;
  }

   .job-info {
    font-size: 11px;
    margin-top: 3px;
   }

  .ul-parcours {
    margin: 0 !important;   
    padding: 0 !important;  
    text-indent: 0; 
    font-size: 3vh;
  }

  .ul-parcours li {
    margin: 0 !important;        
    padding: 0 !important;
  }

  .detail-parcours {
    padding-inline: 4vh;
    margin-top: 5vh;
  }

  .diplome {
    font-size: 2.7vh;
  }

  .page-cv aside {
    flex: 0 0 36vw;
    max-width: 36vw;
  }

  .div-photo {
    width: 17vw;
    margin-top: 3vh;
    margin-bottom: 0vh;
  }

  .titre-aside {
    margin-top: 3vh;
  }

  .renseignements-img {
    margin-bottom: 5px;
  }

  .dot {
    width: clamp(5px, 1.3vw, 10px);
    height: clamp(5px, 1.3vw, 10px);
  }

  .experience {
    margin-bottom: 3vh;
  }
}

@media (max-width: 680px) {
  .renseignements {
    font-size: 2.2vh;
  }
}

@media (max-width: 665px) {

  .metier {
    font-size: 4vh;
  }

  .titre-aside {
    margin-top: 3vh;
    }

  .div-photo {
    width: 16vw;
  }
}

@media (max-width: 638px) {
  .div-photo {
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
}

@media (max-width: 630px) {
  .diplome {
    font-size: 2.5vh;
  }
  .date {
    font-size: 13px;
  }
  .place {
    font-size: 12px;
  }
}

@media (max-width: 610px) {
  
  .renseignements {
    font-size: 2vh;
  }
}

@media (max-width: 605px) {
  
  .zone-presentation {
    font-size: 2.3vh;
  }
}

@media (max-width: 591px) {
  
  .zone-presentation {
    font-size: 2vh !important;
  }

  .diplome {
    font-size: 2.2vh;
  }
}

@media (max-width: 570px) {
  .date {
    font-size: 11px;
  }
}

@media (max-width: 558px) {

  .metier {
    font-size: 3vh;
  }

  .renseignements {
    font-size: 1.8vh;
  }
}

@media (max-width: 540px) {
  
  .zone-presentation {
    font-size: 1.8vh !important;
  }

  .detail-parcours {
    padding-inline: 2vh;
  }

  .diplome {
    font-size: 2vh;
  }

  .place {
    font-size: 11px;
  }
}

@media (max-width: 510px) {
  .renseignements {
    padding-inline: 2px;
  }
}

