.accueil-page .header,
.projet-page .header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-inline: 0;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 2rem;
}

h1, h2, h3, p {
  text-shadow: 
    0 0 15px rgba(5, 3, 14, 0.9),
    0 0 30px rgba(5, 3, 14, 0.7),
    0 0 50px rgba(5, 3, 14, 0.5);
}

.accueil-page h1,
.projet-page h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(243 106 199);
}

.accueil-page header h2,
.projet-page header h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #c084fc;
  text-shadow:
    0 0 10px #a855f7,
    0 0 30px #7c3aed,
    0 0 60px #6d28d960;
}

.accueil-page header .titre3,
.projet-page header .titre3 {
  font-family: 'Calibri', sans-serif;
  font-size: 1.6rem;
  font-style: italic ;
  text-align: start;
  color: #803cc5;
}

.headerLeft {
  padding-top: 40px;
  padding-left: 40px;
}

.headerRight {
  position: static;
  display: flex;
  align-items: flex-end; 
  gap: 0.5rem;
}

@media (max-width: 900px) {

  .accueil-page h1,
  .projet-page h1 {
    font-size: 2rem;
}
  .accueil-page header h2,
  .projet-page header h2 {
    font-size: 1.3rem;
  }

  .accueil-page header .titre3,
  .projet-page header .titre3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 750px) {

  .headerLeft {
    padding-top: 35px;
    padding-left: 10px;
}
  .accueil-page h1,
  .projet-page h1 {
    font-size: 1.5rem;
}
  .accueil-page header h2 {
    font-size: 1rem;
  }

  .accueil-page header .titre3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {

  .accueil-page h1,
  .projet-page h1 {
    font-size: 1.3rem;
}
  .accueil-page header h2 {
    font-size: 0.8rem;
  }
  .accueil-page header .titre3 {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {

  .headerLeft {
    padding-top: 30px;
    padding-left: 0;
}
  .accueil-page h1 {
    font-size: 1rem;
}
  .accueil-page header h2 {
    font-size: 0.7rem;
  }
  .accueil-page header .titre3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .accueil-page h1 {
    font-size: 0.9rem;
}
}



